numpy==1.23
scipy
opencv-python
pillow
termcolor
pyyaml
tqdm
absl-py
einops
kornia
pytorch-lightning
matplotlib
lpips
imageio
imageio-ffmpeg
jupyter
scipy
pymcubes
trimesh
gdown
dearpygui
tensorboard
scikit-image